target/
bin/
dist/
log/
node_modules/
jars/
jars_old/
data/
*.log
*.iml
*.pid
*.args
.DS_Store
.idea
.vscode
.lico
/start_secret.bat
/start_secret.sh
DeleteTo*
/setup.bat
/setup.sh
**/.flattened-pom.xml
