@mixin item-selection {
  color: var(--background-color);
  background-color: var(--text-color);
  border: 0;
  border-radius: 0.5em;
}
@mixin item-hover {
  color: var(--background-color);
  background-color: var(--text-color-hover);
  border: 0;
  border-radius: 0.5em;
}
